.autocomplete {
  position: relative;
}

.options-list {
  position: absolute;
  max-height: 200px;
  width: 90%;
  padding: 20px;
  margin: 0 20px;
  overflow-y: scroll;
  background: black;
  list-style: none;

  &__option {
    cursor: pointer;
    padding: 5px;

    &:hover {
      border: 1px solid white;
      border-radius: 5px;
    }
  }
}
