@use '../../theme';

.search-results {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__list {
    overflow-y: scroll;
    height: 45vh;
    scrollbar-width: thin;
  }
}

.results-frame {
  height: 60vh;
  width: 40vw;
  list-style: none;
  padding: 40px;
  border: 2px solid theme.$light-primary1-color;
  border-radius: 20px;

  &.dark {
    border-color: theme.$dark-primary1-color;
  }
}
