@use '@styles/theme';

.drop-down-menu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: theme.$light-panel-color;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;

  &.dark {
    background-color: theme.$dark-panel-color;
  }

  &:hover {
    border-color: theme.$light-primary1-color;

    &.dark {
      border-color: theme.$dark-primary1-color;
    }
  }

  li {
    display: block;
    width: 100%;
    text-align: center;
    list-style: none;
    border: 1px solid transparent;
    border-radius: 8px;
  }

  li:hover {
    border-color: theme.$light-primary2-color;

    &.dark {
      border-color: theme.$dark-primary2-color;
    }
  }
}
