.card {
  padding: 20px;
  width: 20vw;
  height: 30vh;
  overflow-y: scroll;
  border: 2px solid white;
  border-radius: 1vw;
  padding: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  .image-wrapper {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  ul {
    list-style: none;
    padding: 5px;
  }
}
